body {
    background-image: url(./assets/backgrounds/puzzle-background.jpg);
    image-rendering: auto;
    height: 100%;
    width: 100%  ;
}

h1 {
    width: 200px;
}

.logic-logo {
    font-family: 'puzzleCryptoregular';
    margin: 10px;
    margin-left: 1em;
    font-size: 40px;
}

.logic-logo:hover {
    font-family: 'puzzleregular';
}

.home-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(56, 77, 72, 1);
    border-radius: 0 60px 60px 60px;
    height: fit-content;
    width: 65%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

img {
    max-height: 100px;
    max-width: 100px;
    width: 30%;
    height: 80%;
    border-radius: 9px;
}

.avatars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em;

}

.home-p {
    font-family: 'puzzleregular';
    font-size: 2.5em;
    --animate-duration: 4s;
    margin: .5em;
}

input[type="radio"] {
    display: none;
    margin: 1em;
}

input[type="radio"]:checked + img {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

.user-input {
    padding: 4px;
    margin: 1em;
    font-size: 1em;
    border-width: 4px;
    border-color: #4FD1C5;
    background-color: #ffffff;
    color: #000000;
    border-style: inset;
    border-radius: 9px;
    box-shadow: 0px -1px 11px rgba(66,66,66,.85);
    text-shadow: 0px 0px 0px rgba(66,66,66,.0);
}


.user-input:focus {
    outline:none;
}


.label-container {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1em;
}

.image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;  
}

.label-container:hover .image {
    opacity: 0.3;
}
  
.label-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: hsla(174, 59%, 56%, 1);
    color: white;
    font-size: 16px;
    font-family: monospace;
    padding: 16px;
    border-radius: 9px;
}

.button {
    min-width: 100px;
    min-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(56, 77, 72,1) 0%, rgb(89, 151, 137) 100%);
    border: none;
    border-radius: 100px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin: 1em;
}
  
button::before {
    content: '';
    border-radius: 100px;
    min-width: calc(130px + 12px);
    min-height: calc(45px + 12px);
    border: 2px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
 .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}
  
button:hover::before, button:focus::before {
    opacity: 1;
}
  
button:hover::after, button:focus::after {
    animation: none;
    display: none;
} 

@font-face {
    font-family: 'puzzleregular';
    src: url('./assets/fonts/puzzlefade-webfont.woff2') format('woff2'),
         url('./assets/fonts/puzzlefade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'puzzleCryptoregular';
    src: url('./assets/fonts/puzzle_font-webfont.woff2') format('woff2'),
         url('./assets/fonts/puzzle_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
