body {
    background-image: url(./assets/backgrounds/puzzle-background.jpg);
    image-rendering: auto;
}


h1 {
    width: 200px;
}

.logic-logo {
    font-family: 'puzzleCryptoregular';
    margin: 10px;
    margin-left: 1em;
    font-size: 40px;
}

.logic-logo:hover {
    font-family: 'puzzleregular';
}

.home-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(56, 77, 72, 1);
    border-radius: 0 60px 60px 60px;
    height: 700px;
    width: 50%;
    margin-top: 10px;
    background-color: rgb(250, 235, 215, .9);
}

img {
    max-height: 100px;
    max-width: 100px;
    width: 30%;
    height: 80%;
}


.home-p {
    font-family: 'puzzleregular';
    font-size: 50px;
    --animate-duration: 4s;
}

input[type=radio] {
    display: none;
    margin: 1em;
}

.user-input {
    padding: 4px;
    margin: 1em;
    font-size: 15px;
    border-width: 4px;
    border-color: #4FD1C5;
    background-color: #ffffff;
    color: #000000;
    border-style: inset;
    border-radius: 9px;
    box-shadow: 0px -1px 11px rgba(66,66,66,.85);
    text-shadow: 0px 0px 0px rgba(66,66,66,.0);
}
.user-input:focus {
    outline:none;
}

.button-box {
    display: block;
    margin-top: 50px;
}

.button {
    min-width: 100px;
    min-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(56, 77, 72,1) 0%, rgb(89, 151, 137) 100%);
    border: none;
    border-radius: 100px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
  
button::before {
    content: '';
    border-radius: 100px;
    min-width: calc(130px + 12px);
    min-height: calc(45px + 12px);
    border: 2px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
 .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}
  
button:hover::before, button:focus::before {
    opacity: 1;
}
  
button:hover::after, button:focus::after {
    animation: none;
    display: none;
} 


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


@font-face {
    font-family: 'puzzleregular';
    src: url('./assets/fonts/puzzlefade-webfont.woff2') format('woff2'),
         url('./assets/fonts/puzzlefade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'puzzleCryptoregular';
    src: url('./assets/fonts/puzzle_font-webfont.woff2') format('woff2'),
         url('./assets/fonts/puzzle_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}